head
  title 亚洲基础设施投资银行贷款申请
  meta(charset='utf-8')
  meta(name="renderer", content="webkit")
  meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='format-detection', content='telephone=no')
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="mobile-web-app-capable" content="yes")
  //- gridforms
  //- link(rel='stylesheet', href='/lib/gridforms/gridforms/gridforms.css')
  //- script(src='/lib/gridforms/gridforms/gridforms.js') 
  //- parsley
  //- link(rel='stylesheet', href='/lib/parsley/src/parsley.css')
  //- script(src='/lib/parsley/dist/parsley.js') 

body
  +loginButtons(align='right')
  +header
  +splash
  //- +teacherAssignmentsList
  //- +bp(widget='create-assignment')
  //- +bp(widget='list-assignments')
  //- +bp(widget='edit-assignment')
  //- +bp(widget='view-assignment')

  
template(name='header')
  h1.header 个人信用贷款申请表
